@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    <p class="lead">Let us help you collect your garbage</p>
    <p><a href="http://localhost:4593/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Schedule Your Next Garbage Pick Up</h2>
        <p>
            Determine your next garbage collection based on your schedule.
        </p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p> @*Insert a link to the schedule page into the href*@
    </div>
    <div class="col-md-4">
        <h2>Learn More About Us</h2>
        <p>Use Trash Collector... blah blah blah.</p>
        <p><a class="btn btn-default" href="http://localhost:4593/Home/About">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p>Try out Trash Collector by signing up.</p>
        <p><a class="btn btn-default" href="http://localhost:4593/Account/Register">Sign Up Today! &raquo;</a></p>
    </div>
</div>